h1{
    margin-top: 20px;
    margin-bottom: -50px;
    
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b1e5f1;
    font-family: sans-serif;
    outline: none;
  }
  .container{
    border-color: #080202;
    border-radius: 5%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .calculator{
     background-color: #e0c2d3;
     padding: 15px;
     border-radius: 30px;
     box-shadow: inset 5px 5px 12px #080202;
                    
     display: grid;
     grid-template-columns: repeat(4,68px);   
  }
  
  input{
     grid-column: span 4;
     height: 70px;
     width: 268px;
     background-color: #5fbabd;
     box-shadow: inset -5px -5px 12px #ffffff;
                    
     border:none;
     border-radius:30px;
     color: rgb(70,70,70);
     font-size: 50px;
     text-align: end;
     margin: auto;
     margin-top: 40px;
     margin-bottom: 30px;
     padding: 20px;
  }
  
  button {
     height: 48px;
     width: 48px;
     background-color: #5fbabd;
     box-shadow: inset -5px -5px 12px #ffffff;
                           
     border:none;
     border-radius: 50%;
     margin: 8px;
     font-size: 16px;
  }
  